### Multiples of 3 or 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

---

Given a certain integer $n \in \mathbb{N}$, we want to list the numbers below $n$ that are multiples of another $k \in \mathbb{N}$. 
There are two possible approaches: one is constructive, and the other is inductive. Here we opt for the inductive method por simplicity.

If $n=1000$ and $k=3,5$, we can find this list of numbers just by checking values from 1 to $n$.

In [7]:
# Values
n = 1000
k = [3, 5]

# Find multiples of 3 and 5
list_numb = []
for i in range(1, n):
    if (i % k[0]) == 0 or (i % k[1]) == 0:
        # print(i)
        list_numb.append(i)

# Make the sum
s = sum(list_numb)

print("Sum of all multiples:", s)

Sum of all multiples: 233168

#### The constructive approach

A natural multiple of $k$ is a natural number that contains $k$ as a factor: this is a number of the form $lk$, where $l$ is another natural number. As we are looking for the multiples of $k$ bellow a certain natural $n$, we have
$$n > kl \geq k \Leftrightarrow n/k > l \geq 1 $$
Therefore, we can go through the multiples of $k$ below $n$ simply going through all possible values of $l$, which are 
$$L = \left\{ l \in \mathbb{N}: 1 \leq l < n/k \right\}$$
For example, if we set $n=20$ and look for multiples of $k=3$ and $k=5$ we would have:

In [1]:
# Multiples of 3 below 20
n, k = 20, 3
multiples1 = [k * l for l in range(1, n//k + 1) if l < n/k]
print(multiples1)

[3, 6, 9, 12, 15, 18]

In [2]:
# Multiples of 5 below 20
k = 5
multiples2 = [k * l for l in range(1, n//k +1) if l < n/k]
print(multiples2)

[5, 10, 15]

One may ask why do we add a condition `if l < n/k` if we just took the floor division `n//k` which should be always below $n/k$. This is because the later does not hold when $n$ is a multiple of $k$ (like our example, where 20 is multiple of 5). In this case, `n//k == n/k` which we do not want because this would take $l$ out of its range (remember set of values $L$). 

Obviously, if we list the multiples of 3 and 5 separately be would obtain repeated values. So to fix this, we count just the unique ones:

In [3]:
multiples = multiples1 + multiples2

list(set(multiples))

[3, 5, 6, 9, 10, 12, 15, 18]

The sum is direct from this list. For our problem we would obtain:

In [6]:
n = 1000
k_val = [3, 5]

multiples = []
for k in k_val:
    multiples.extend([k * l for l in range(1, n//k + 1) if l < n/k])

sum(list(set(multiples)))

233168

This can be generalized to any number of multiples we want to count, just giving the multiple values to the `k_val` list.